{% extends 'index.html' %}

{% block content %}

<div class="container d-block text-center">
    <h1>Login</h1>
    <form class="form" action="click_login" method="post">
        {% csrf_token %}
        <label class="form-label" for="username">Username</label>
        <input class="form-control m-2 p-2" type="text" name="username" id="username" required>
        <label class="form-label" for="password">Password</label>
        <input class="form-control m-2 p-2" type="password" name="password" id="password" required>
        <input class="form-control m-2 p-2 btn btn-success" type="submit" value="Login">
    </form>
</div>

{% endblock %}